<template>
  <div class="container builder-container">
    <div class="drop-zone">
    </div>
    <div class="divider"/>
    <div class="action">
      <button type="button" class="btn btn-primary">Create Form</button>
      <button type="button" class="btn btn-light">Cancel</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'builder',
  data() {
    return {
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .builder-container {
    border: 1px solid;
    width: 100%;
    height: calc( 100vh - 136px );
  }
  .divider{
    border: 1px solid rgba(0,0,0,0.4);
    height: 1px;
  }
  .drop-zone {
    height: 90%;
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
  }
  button {
    margin-right: 20px;
  }
</style>
