<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <options />
      </div>
      <div class="col-6">
        <builder />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
    return {
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
