<template>
  <div>
    <div>
      <label>Alignment</label>
      <i class="fas fa-align-left"></i>
      <i class="fas fa-align-center"></i>
      <i class="fas fa-align-right"></i>
    </div>
    <div class="mt-3">
      <label>Background Color</label>
      <input type="color" />
    </div>
    <div class="mt-3">
      <label>Background Image</label>

    </div>
    <div class="mt-3">
      <label>Font</label>
      
    </div>
  </div>
</template>

<script>
export default {
  name: 'form-styles',
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  i {
    font-size: 1.5em;
    margin-left: 20px;
    cursor: pointer;
  }
  i:hover {
    color: grey;
  }
</style>
