<template>
  <div>
    <div class="form-group">
      <label for="form-title">Form Title</label>
      <input type="text" class="form-control" id="form-title" placeholder="Form Title">
    </div>
    <div class="form-group">
      <label for="notificationUponSubmit">Notification Upon Submit</label>
      <textarea class="form-control" id="notificationUponSubmit" rows="3" placeholder="Notification Upon Submit"></textarea>
    </div>
    <div class="form-group">
      <label for="submitSuccessful">Submit Successful</label>
      <textarea class="form-control" id="submitSuccessful" rows="3" placeholder="Submit Successful"></textarea>
    </div>
    <div class="form-group">
      <label for="submitSuccessful">Submit Failed</label>
      <textarea class="form-control" id="submitFailed" rows="3" placeholder="Submit Failed"></textarea>
    </div>
  </div>
</template>

<script>
export default {
  name: 'form-details',
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
