<template>
  <div class="container options-container">
    <nav class="nav nav-pills flex-column flex-sm-row mt-3">
      <a href="#"  @click="setSelectedTabIdex(0)" :class="getClassName(0)">Form Details</a>
      <a href="#" @click="setSelectedTabIdex(1)" :class="getClassName(1)">Form Fields</a>
      <a href="#" @click="setSelectedTabIdex(2)" :class="getClassName(2)">Styles</a>
    </nav>
    
    <form-details v-show="selectedTabIndex==0" class="mt-5" />

    <form-fields v-show="selectedTabIndex==1" class="mt-5" />

    <form-styles v-show="selectedTabIndex==2" class="mt-5" />

  </div>
</template>

<script>
export default {
  name: 'options',
  data() {
    return {
      selectedTabIndex: 0,
    };
  },
  methods: {
    setSelectedTabIdex(index) {
      this.selectedTabIndex = index;
    },
    getClassName(index) {
      if (index === this.selectedTabIndex) {
        return 'flex-sm-fill text-sm-center nav-link active';
      }
      return 'flex-sm-fill text-sm-center nav-link';
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .options-container {
    border: 1px solid;
    width: 100%;
    height: calc( 100vh - 136px );
    text-align: left;
  }
</style>
